#title{
    color: Black;
    font-size: 69px;
    
}
.header{
    text-align: center;
    height: 225px;
    width: 1141px;
    background-color: gray;
    margin:0;
}
body{
    height:1020;
    background-color:#b48484;
    width:148;
    margin-top:0;
}
figure{
    background-color:white;
    margin:0;
}
ol {
    background-color: #63b0a7;
    position:absolute;
    height: 250%;
    width:20%;
    margin-top:0;
    margin-left:0;
    margin:0;
}